<%-include("partials/header")-%>

<h1><%=heading%></h1>

<form action="/compose" method="post">   <!-- in the place of action u need to write the same path name as app.post in app.js file-->
    <div class="form-group">
    <h3>Title</h3>
    <input  class="form-control" type="text" placeholder="Give a Title" name="t" />
    <h3>Post</h3>
    <textarea class="form-control"  id="" placeholder="Write something..."cols="80" rows="10" name="p" ></textarea>
    <br><button type="submit" name="button" class="btn btn-primary">Publish</button>
    </div>
</form>

<%-include("partials/footer")-%>
